<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class = "page_header">
        <h1><%= @cocktail.name %></h1>
      </div>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td><%= @cocktail.name %></td>
          </tr>

          <% @cocktail.doses.each do |f| %>
          <tr>
            <th scope="row">name</th>
            <td><%= f.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>



      <%= render "doses/form" %>

      <div class="page_footer">
        <%= link_to "See all cocktails", cocktails_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
